@charset "UTF-8";
body{ background-color: #8b7e88; }

.header, .detail, #buttons {
	text-align: center;
}

h1 {
	font-weight: bold;
	font-family: "맑은 고딕 bold";
	font-size: 60px;
}

h1, h2, h3, h4, h5 {
	display: inline-block;
}

h4 {
	color: red;
}

.et-detail{
	display: inline-block;
	text-align: center;
	margin-right: 20px;
	align-items:center;
	width:400px;
	height:330px;
}
.detail_span{
	display: inline-block;
}
#map {
	margin-top: 50px;
}

.btns {
  width: 160px;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-left: 100px;
  margin-top: 20px;
  
  }

.btns:hover {
  background-color: #667685;
  box-shadow: 0px 15px 20px rgba(0, 9, 111, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
#buttons {
	background-color: #ada8ae;
	height: 100px;
	
}

p {
	font-family: "맑은 고딕";
}

#revlist {
	width: 800px;
	margin: 10px auto;
}
#like_button {
	display: inline-block;
	color: #cca2a3;
	cursor: pointer;
	font-size: 30px;
	position: absolute;
	left: 46%;
	top: 25%;
	-webkit-transform: translate(-30%, -30%);
	        transform: translate(-30%, -30%);
	-webkit-transition: all 0.1s ease-in-out;
	        transition: all 0.1s ease-in-out;
}

#like_button.liked {
	font-size: 20px;
}

#like_button:after {
	display: inline-block;
	content: "♥";
	font-size: 1px;
	color: #D61F12;
	opacity: 0;
	position: absolute;
	left: 46%;
	top: 25%;
	-webkit-transform: translate(-30%, -30%);
	        transform: translate(-30%, -30%);
	-webkit-transition: all 0.2s ease-in-out;
	        transition: all 0.2s ease-in-out;
}

#like_button.liked:after {
	font-size: 30px;
	opacity: 1;
}

#like {
	padding: 10px;
}
#login_header {
	float: right;
}
*{
	/* 헤더에 배경사진 적용하면 그림파일 특성상 넣으면서 여백이 생김 -> padding과 margin으로 여백 없도록 하기! */
	padding:0px;
	margin:0px;
	box-sizing: border-box;
}
.logo button{
	background-color : white;
	color: white;
	width: 100px;
	height: 44px;
	font-size: 15px;
	font-weight: 700;
	border-radius: 6px;
	border: 0;
    background-color: rgba( 255, 255, 255, 0 );
	cursor: pointer; /* 커서 들이대면 커서가 변경됨 */
}
.menu_section{
	display: grid;
	grid-template-columns: auto auto; /* 1:1 비율로 나누어줌 (=1fr 1fr) */
	justify-content: space-between; /* 양끝으로 가게 만들어~ */
	background-color : rgba(172, 172, 172, 0.7);
}
.logo{
	color: white;
	font-size: 35px;
	font-weight: 800;
	margin: 12px 0 0 20px /* 12 3 6 9시 방향 띄우기 */
}
/* 로그인 버튼 관련 */
.button_wrap{
  background-color: white;
  color: black;
  text-align: center;
  padding: 0.3em 1em;
  text-decoration: none;
  border-radius: 8px;
}
.button_wrap:hover{
  color:white;
  background-color: rgb(31,171,137);
}
.button_wrap .icon{
  display: none;
}
button_wrap:link{
  text-decoration: none;
}
.menu ul{
	display: grid;
	grid-template-columns: auto auto auto; /* 3개라서 auto를 3번 준다 */
	grid-gap: 30px; /* ul마다 30px씩 떨어뜨림! */
	list-style-type : none; /* 링크 누르면 색 변하는 거 제거 */
	
	margin: 20px 20px 0 0 /* 12 3 6 9시 방향 띄우기 */
}
.menu ul a {
	text-decoration: none; /* 링크 밑줄 제거 */
	color: white;
	font-weight: 800; /* 글자 굵기 설정 */
}
#detailMain {
	background:#fff;
	border:1px solid #222;
	padding: 20px;
	width: 1200px;	
	margin:30px auto;
}
	